.Loader{

    position:fixed;
    z-index:100;
    top:0;left:0;bottom:0;right:0;
    background-image:url("/img/Interwind.svg");
    background-size:25%;
    background-repeat:no-repeat;
    background-position:bottom right;
    
    background-color:rgba(0,0,0,0);

    
}
