
.Pages {
    padding:10px;
    border-bottom:2px dashed #777;
}
.Pages a{
    padding:10px;
    text-decoration:none;
    font-family:"Schoolbell";
    font-size:0.8em;
    color:#000;
}
.Pages a:hover{
    color:red;
}
