.Panel-inside{
 display:block;
 height:inherit;
}
.Panel{
    vertical-align:top;
   display:inline-block; 
   position:relative;
   border:4px solid rgba(80,80,80,1.0);
   margin:5px;
   white-space:normal;
   border-radius:3px;
   text-align:left;
   background:rgba(250,250,250,1.0);
   box-shadow:0px 0px 50px 2px rgba(255,255,255,0.5);
   color:#333;
    position:relative;
}
.Panel:after{

    content:"";
    pointer-events:none;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
   background:rgba(200,200,200,0.95) url("/img/stripes.png") 0/200px;
   opacity:0.0125;
}
.PanelButton{
    cursor:pointer;
    background:none;
    border:2px solid #aaa;
   box-shadow:0px 0px 100px 2px rgba(150,255,200,0.5);


   color:#777;
    text-align:center;
    display:block;
    height:2em;
    width:100%;
    font-size:1.5em;
    font-family:"Schoolbell";
}
.PanelCheckbox{
    width:5em;
    height:2em;
font-size:1.5em;
    margin:1em;
    padding:0.5em 1em;
    font-family:"Schoolbell";
    background:rgba(200,250,200,0.5);
    border:1px solid #aaa;

}
.PanelText{
   font-size:1.2em;
   line-height:150%;
   font-family:Schoolbell;
   display:block;
   padding:0.1em 1.0em;
}
.PanelText:after{
   content:"";
   display:block;
}
.Panel-borderless{
    border:0;
    border-radius:10px;
    margin-left:7px;
    margin-right:8px;
    background:rgba(192,128,32,0.0);
    box-shadow:0 0 0 0;
}
.PanelInput, .PanelEditor, .PanelSelect{
    font-size:1.5em;
    width:90%;
    margin:1em;
    padding:0.5em 1em;
    padding-right:0;
    font-family:"Schoolbell";
    background:rgba(200,250,200,0.5);
    border:1px solid #aaa;
}
.PanelSelect {
    width:90%;
}
.Panel .Surface{
    margin:0;padding:0;
}
.Panel .Tier{
    width:100%;
    padding:0;
    margin:0;
}
.Panel .Panel {
    border-color:#ddd;
    border-style:dotted;
}
.Panel .Image {
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    top:0;bottom:0;left:0;right:0;
    position:relative;
    float:left;
}
