@page {
    size: A4 portrait;
    margin: 0;
}

@media print {
    .Drawer{display:none !important;}
    .Root{
        
        border:0 !important; margin:0 !important; padding:0 !important;
    }
    .Workspace{
        border:0 !important; margin:0 !important; padding:0 !important;

        position:relative;
        width:100%;
	    background-position:0 0;
        background-attachment:scroll;
        background-color:white;
        background-size:210mm 148.5mm;
        background-repeat:repeat-y space;
    }
    .Workspace-head{display:none !important;}
    .Surface{
        border:0 !important; margin:0 !important; padding:0 !important;
        position:relative;
    }
    .Tier {
        margin:0 !important; padding:0 !important;
        overflow:hidden !important;

        position:relative;
        background:rgba(255,255,255,0.9);
        display:table-row;
        height:74mm;
        width:210mm !important;
    }
    .Page {
        border:0 !important; margin:0 !important; padding:0 !important;
        overflow:hidden !important;

        position:relative;
        background:transparent;
        box-shadow:none;
        page-break-inside:avoid;
        height:148mm;
        width:210mm !important;
    }
    #badge_generator img{
        margin:0;padding:0;
        margin-top:5mm;
        margin-bottom:5mm;

        transform:rotate(-5deg);
    }

    #badge_generator .Panel {
        border:0 !important; margin: 0 !important; padding: 5mm !important;
        overflow:hidden !important;
        
        position:relative;
        background:transparent;
        box-sizing:border-box;
        min-width:105mm !important;
        max-width:105mm !important;
        width:105mm !important;
        height:64mm !important;
        display:table-cell;
        border:1px solid #aaa !important;
    }
    #badge_generator .PanelText {
        padding:0;
        margin:1mm;
    }
    #badge_generator .Caption {
        margin:5mm;
        border:0;
        background:transparent;
        box-shadow:none;
        left:0;
        font-size:1.1em;
        line-height:1em;
        display:block;
        margin-bottom:0;
        padding:0;
    }
    #badge_generator .Caption ~ .Caption {
        padding:0;
        font-size:0.9em;
        line-height:1em;
    }
    #badge_generator .Caption ~ .Caption:first-letter {
        font-size:1.1em;
        line-height:1em;
    }
}
