
.Tier{
    white-space:nowrap;
    margin:0 auto;
    width:75%;
    padding:10px 0;
    position:relative;
    overflow:show;
    display:table;
    border-top:1px solid #faa;
    background:#f7f7f7;
    border-spacing:0px;
    border-collapse:separate;
    box-shadow:0px 0px 10px 2px #fff;
}
@media (orientation:portrait) {
    .Tier{
        width:99%;
        margin:0 5px;
    }
}
