.Tool {
 white-space:nowrap;
 position:relative;
 padding:5px;
}
.Drawer .Tool p{
 display:inline-block;
 margin:0;padding:0;
}
.Tool img{
 height:32px;
 display:inline-block;
 vertical-align:middle;
}

.Drawer .Tool input {

 font-size:0.8em;
 margin-left:10px;
}
.Panel .Tool input {
 font-size:1.2em;
 background:#fcc;
 padding:1.2em;
 font-variant:small-caps;
 letter-spacing:0.3em;
 width:100%;
}
.Panel .Tool {
 margin:-1em 0;
 padding:0;
 background:#fcc;
 position:relative;
 text-align:center;
 background:#fee;
}


.Tool input {
 display:inline-block;
 background:none;
 border:0px;
 font-family:"Schoolbell";
}

.Tool input:hover {
 color:red;
 cursor:pointer;
}

.Tool:hover p{
 color:pink;
 }
