@media (orientation:portrait) {

    .Workspace{
        /*Mobile*/
        padding-bottom:2em;
    }
}
@media (orientation:landscape) {

    .Workspace{
        /*PC*/
        display:table;
    }
    .Workspace-inner{
        /*PC*/
        display:table-cell;
    }
}

.Root{
	background: linear-gradient(#931521 0%, #f3bd30 100%);
    background-attachment:fixed;
    margin:0;
    padding:0;
    min-height:100%;
}
.Workspace{
	background-color:transparent;
	background-size:cover;
	background-position:0 50%;
    background-attachment:fixed;
    min-height:100vh;
    width:100%;
    margin:0;padding:0;
}
.Workspace-head {
    margin:0px auto; 
    margin-bottom:2em;
    width:95%;
    max-width:1000px;
    text-align:center;
    transform:rotate(-3deg);
}
.Workspace-head img{
    width:75%;
    padding-bottom:0.2em;

}
.Workspace-inner{
    min-height:100%;
}
